body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  } 

p {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  } 

li {
    max-width:1000px;
} 

a {
    font-family: "Open Sans";
    font-size: 20px;
    background-color: #67B3E3;
    color: white;
    padding: .9em 1.5em;
    min-width: 500px;
    box-shadow: 0 5px 0 gray;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
}

a:hover {
    background-color: #555;
    cursor: pointer;
    padding-right: 24px;
    padding-left:8px;
}

a:active {
    background-color: black;
}

a:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

a:hover:after {
  opacity: 1;
  right: 10px;
}

ul#tabs, h3, h4, h5, summary {
    font-family: "Open Sans";
    font-weight: bold;
}

h1 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

details {
    font-family: "Open Sans";
}

details {
    border: .2px solid #bbb;
    border-radius: 4px;
    padding: .5em .5em 0;
    cursor: pointer;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    background: #67B3E3;
    color: white;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 1em;
}

summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

details summary::before { 
    content: "+";
    color: white;
    font-size: 40px;
}

/* By using [open] we can define different styles when the disclosure widget is open */
details[open] summary::before { 
    content:"-"; 
    color: white;
    size: 50px;
}


#table-of-contents {
    margin-top: 2em ;
    font-size: 30px ;
    font-family: "Open Sans" ;
    background: #f9f9f9 none repeat scroll 0 0 ;
    border: 1px solid #aaa ;
    display: table ;
    margin-bottom: 1em ;
    padding: 20px ;
    
}

li {
    list-style-type: none;
    max-width: 1000px;
    min-width: 500px;
    font-size: 50px;
} 
